.table_main {
   width: 95%;
   mardin-right: 2%;
   margin-left: 2%;

}

tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}


.input_field{

width 20px;
margin-right: 10%;
margin-left:5%

}

.sub_button{
    width 10%;
    margin-left: 40%;
    margin-top: 1%;


}
